#02-Workflow-Events.yaml
name: 02-Workflow Events Lab
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      notify:
        description: "Send notification?"
        required: true
        default: "yes"
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at midnight UTC
jobs:
  event-info:
    runs-on: ubuntu-latest
    steps:
      - name: Display Event Information
        run: |
            echo "Event Name: ${{ github.event_name }}"
            echo "Repository: ${{ github.repository }}"
            echo "Actor: ${{ github.actor }}"
            echo "Ref: ${{ github.ref }}"
            echo "SHA: ${{ github.sha }}"